.homepage {
    background-color: rgb(0, 60, 59);
    height: 100vh;
}
.bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

img {
    width: 600px;

}