.homepage {
    background: #003c3b;
    background: rgb(0,60,59);
    background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(0,60,59,0.6169818269104517) 33%, rgba(0,60,59,1) 63%);
    height: 100%;
}
.bg {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
  }

  .row-1, .row-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  a {
    line-height: 1;
    display: flex;
    /* max-width: 530px; */
    justify-content: space-around;
    width: 25%;
  }

a > img {
    vertical-align: bottom;
    width: 100%;
  }
