header {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; */
    background-color: azure;
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
}
.jumbotron {
    background-color: azure;
}
.logo {
    /* width: 100%; */
    max-width: 250px;
    /* align-items: flex-start; */
    /* padding-left: 24px; */
}

a {
    text-decoration: none;
    font-weight: 600;
}

.navbar {
    background-color: azure;
}