header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    width: 100px;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

a {
    text-decoration: none;
    font-weight: 600;
}