header {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; */
    background-color: azure;
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
}

img {
    height: 6vh;
    width: auto;
}

.navbar {
    height: 8vh;
}

.nav-link {
    text-decoration: none;
    font-weight: 600;
}

.navbar-nav {
    background-color: azure;
}