.result {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: none;
    width: 100%;
    align-items: center;
    background-image: url('../assets/port5.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center calc(50% - 150px); 
}

.result-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid rgb(0, 60, 59);
    width: 40%;
    height: 15vh;
    margin-top: 30px;
    border-radius: 25px;
    background-color: rgba(0, 60, 59, .5);
}

.result-card h6 {
    padding-left: 30px;
    color: white
}