.formBG {
    background-image: url("../assets/formbg.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 50%;
    display: flex;
    align-items: center;
}
 
#form {
    background-color: rgba(240, 255, 255, 0.75);
    margin-top: 6rem;
    margin-bottom: 6rem;
}
    
.btn-ckt {
    color: #fff;
    background-color: #003c3b99;
    border-color: rgba(0, 60, 59, .6); /*set the color you want here*/
}
.btn-ckt:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #003c3b;
    border-color: rgba(0, 60, 59); /*set the color you want here*/
}

