/* .schedule__form {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    flex-direction: column;
} */

form {
    display: flex;
    flex-direction: row;
    width: 140px;
    margin-right: 14px;
}

.btn {
    display: flex;
    justify-content: center;
}