.navbar {
    background-color: #698d7f;
    height: 10vh;
}

#logo {
    height: 8vh;
    width: auto;
}

.nav-link {
    text-decoration: none;
    font-weight: 600;
    color: rgba(240, 255, 255, .8);
    
}

.nav-link:hover {
    text-decoration: none;
    font-weight: 600;
    color: rgba(240, 255, 255);
    transform: scale(1.15);
}

.nav-item {
    margin-left: 30px;
    margin-right: 15px;
}

