.result-container {
  height: 55vh;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: black; /* why tf doesn't this work */
}

.result-container::-webkit-scrollbar { 
  display: none;
}

.result-card {
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 20vh;
  margin-top: 15px;
  border-radius: 15px;
  background-color: rgba(0, 60, 59, .5);
}

.result-card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.36);
  background-color: #003c3b80;
}

.result {
  max-height: none;
  align-items: center;
  border: 0px;
  background-color: rgba(0, 60, 59, 0);
}
